body,
html {
  display: flex;
  justify-content: center;
}
.AppDiv {
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  align-items: center;
  justify-content: center;
  width: 100%;
}
.control {
  max-height: 750px;
  overflow-y: auto;
}
.Gallery,
.BanList {
  height: 500px;
  max-height: 700px;
  width: 200px;
  align-items: flex-start;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
}
.root {
  display: flex;
  align-items: center;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
