.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#questions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

#drink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
